<nav class="navbar navbar-expand-lg navbar-light bg-white d-flex flex-column">
    <div class="col header-upper mx-auto d-flex">
        <h1 class="navbar-brand mx-auto" href="#">Има на ћирилици</h1>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/']">Почетна <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/blog']">Блог</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/forum']">Форум</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/vezbanje']">Вежбање</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/resursi']">Ресурси</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/o nama']">О нама</a>
          </li>
      </ul>
    </div>
  </nav>