.navbar-nav .nav-item:hover .nav-link{
    background-color:rgb(155, 248, 255) !important;
}

a.navbar-brand {
    font-size: xx-large;
}

.navbar-nav a {
    font-weight: 1000 !important;
    font-size: large;
}

#navbarSupportedContent {
    width: 100% !important;
}

.nav-link {
    padding-left: 15px !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}