.navbar-nav .nav-item:hover .nav-link {
    background-color:rgb(224, 224, 224) !important;
}

h1 {
    font-size: 30px;
}

.navbar-nav a {
    font-weight: 1000 !important;
    font-size: large;
}

#navbarSupportedContent {
    width: 100% !important;
}

.nav-link {
    padding-left: 15px !important;
}

.navbar-toggler {
    height: 50px !important;
}

#right-tab {
    background-color: #313131 !important;
}

#right-tab:hover {
    background-color: #252525 !important;
}

#right-tab:active {
    background-color: #0e0e0e !important;
}

@media (min-width: 992px) {
    h1 {
        font-size: 50px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}