<div class="container-fluid mt-4">
    <div class="row">
        <div class="tz-transliterator text-center col-md-4">
            <h1>Тачка Зарез транслитератор</h1>
            <h3 routerLink="/transliterator-online">Онлајн транслитератор</h3>
            <h3 routerLink="/api-documentation">АПИ документација</h3>
        </div>
        <div class="fontovi text-center col-md-4">
            <h1>Фонтови</h1>
        </div>
        <div class="ostalo text-center col-md-4">
            <h1>Остало</h1>
            <h3 (click)="downloadZip()">Алатке за српски језик - ПХП библиотека за транслитерацију и дијакритичку рестаурацију</h3>
        </div>
    </div>
</div>
