.forumPost {
  width: 600px;
  height: fit-content;
  margin: 10px auto;
  padding: 10px 20px;
  border: 2px solid #E5E8E8;
  border-radius: 10px;
  background-color: white;
}

.forumPost h1 {
  all: unset;
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: arno-pro;
  font-size: 1.5rem;
  color: #000401;
}

.forumPost p {
  all: unset;
  display: inline-block;
  width: 100%;
  font-family: arno-pro;
  font-size: 1.25rem;
  color: #4E545C;
}

.forumPost h2 {
  all: unset;
  font-family: arno-pro;
  font-size: 1.1rem;
  color: #8D9797;
}

.forumPost h3 {
  all: unset;
  font-family: arno-pro;
  font-size: 1.1rem;
  color: #8D9797;
}

.forumPost>div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  column-gap: 5px;
  height: fit-content;
  width: 100%;
}


.sendComment {
  height: fit-content;
  display: inline-flex;
  flex-flow: row nowrap;
}

.sendComment>input[type=text]{
  all: unset;
  flex-grow: 1;
  flex-basis: fit-content;
  height: 100%;
  margin: 10px 0 0;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F1F1F1;
}

.sendComment>input[type=text]::placeholder {
  color: #9A9A9A;
}

.sendComment>button {
  all: unset;
  position: relative;
  margin: 10px 0 0;
  max-width: 40px;
  flex-grow: 1;
  background-color: #E5E8E8;
  border-radius: 5px;
  transition: 200ms;
}

.sendComment>button:hover {
  background-color: #D5D8D8;
  cursor: pointer;
  transition: 200ms;
}

.sendComment>button>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  height: 70%;
  aspect-ratio: 1/1;
}

#showComments {
  all: unset;
  width: 100%;
  margin: 10px auto 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  background-color: #4E545C;
  border-radius: 5px;
  color: white;
  transition: 200ms;
}

#showComments:hover {
  background-color: #2E343C;
  cursor: pointer;
  transition: 200ms;
}

#Comments {
  width: 100%;
  height: 300px;
}

#Comments.hidden {
  display: none;
}

@media (max-width: 760px) {
  .forumPost {
    width: 80%;
  }
}

.forumPost {
  width: 600px;
  height: fit-content;
  margin: 10px auto;
  padding: 10px 20px;
  border: 2px solid #E5E8E8;
  border-radius: 10px;
  background-color: white;
}

textarea {
  all: unset;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F1F1F1;
  word-break: break-all;
}

textarea::placeholder {
  color: #9A9A9A;
}

#PostTitle {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
}

#PostContent {
  display: inline-block;
  width: 100%;
  font-size: 1.25rem;

}

.forumPost>div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 5px;
  height: fit-content;
  width: 100%;
}

#ObrisiBtn {
  all: unset;
  flex-grow: 1;
  max-width: 50%;
  margin: 10px auto 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  background-color: #DC143C;
  border-radius: 5px;
  color: white;
  transition: 200ms;
}

#ObrisiBtn:hover {
  background-color: #9A2A2A;
  cursor: pointer;
  transition: 200ms;
}

#PostujBtn {
  all: unset;
  flex-grow: 1;
  max-width: 50%;
  margin: 10px auto 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  background-color: #4E545C;
  border-radius: 5px;
  color: white;
  transition: 200ms;
}

#PostujBtn:hover {
  background-color: #2E343C;
  cursor: pointer;
  transition: 200ms;
}

@media (max-width: 760px) {
  .forumPost {
    width: 80%;
  }
}
