<div class="container-fluid" style="max-width: 1250px;">
  <h1 class="text-center my-4">Добро дошли на наш Ћирилични форум!</h1>

  <div class="forumPost mb-4">
    <form id="myForm" #userComment = "ngForm" (submit)="addPost(userComment.value)" class="needs-validation mx-auto p-3" novalidate>
      <textarea id="PostTitle" name="title" placeholder="Наслов..." rows="1" cols="40" ngModel required></textarea>
      <textarea id="PostContent" name="content" placeholder="Текст..." rows="4" cols="40" ngModel required></textarea>
      <div>
        <button id="ObrisiBtn" (click)="obrisi()">Обриши</button>
        <button id="PostujBtn">Постуј</button>
      </div>
    </form>
  </div>

  <div *ngFor='let forumData of forumArray' class="forumPost">
    <h1>{{forumData['title']}}</h1>
    <p>{{forumData['content']}}</p>
    <div>
      <h2>{{forumData['createdBy']}}</h2>
      <h2>:</h2>
      <h3>{{forumData['createdAt']}}</h3>
    </div>
    <form id="myForm" #userComment = "ngForm" (submit)="sendComment(userComment.value, forumData['id'])" class="needs-validation mx-auto p-3" novalidate> 
      <div class="sendComment">
        <input type="text" name="text" placeholder="Остави коментар..." ngModel required>
        <button><img src="assets/Send.png"></button>
      </div>
    </form>
   
    <div id="Comments" class="hidden">
      <div *ngFor='let comment of forumData["comments"]' class="comment">
        <div class="commentDate">
          <h2>{{comment['createdBy']}}</h2>
          <h3>{{comment['createdAt']}}</h3>
        </div>
        <div class="commentContent">

          <p>{{comment['content']}}</p>
        </div>

      </div>
    </div>
    <button id="showComments" (click)="showComments()">Прикажи коментаре</button>
  <!--  <div class="comments"></div>-->
  </div>
</div>
