input[type=text] {
    height: 100px;
}

input {
    max-width: 400px;
}

.same-size {
    width: 118px;
}

button, select {
    background-color: #313131 !important;
    color: white !important;
    border-radius: 0px;
}

button:hover {
    background-color: #252525 !important;
}

button:active {
    background-color: #0e0e0e !important;
}

@media only screen and (max-width: 991px) {
    input[type=text] {
        margin-top: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .container {
        padding-top: 10px !important;
    }
}