<div class="container-fluid mb-5">
    <h1 class="text-center">Чланови тима "Тачка Зарез"</h1>
    <div id="div" class="row">

        <div class="col-lg text-center">
          <img src="assets/4.jpg" width="400px" height="400px">
            <div class="text-center ml-3">
              <p class="d-inline">Вељко</p>
              <span> Бекенд </span>
            </div>
        </div>

      <div class="col-lg text-center">
          <img src="assets/1.jpg" width="400px" height="400px">
          <div class="text-center ml-3">
            <p class="d-inline">Димитрије</p>
            <span> Фронтенд </span>
          </div>
        </div>


      <div class="col-lg text-center">
            <img src="assets/2.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Јован</p>
                <span> Фулстек </span>
            </div>
        </div>


      <div class="col-lg text-center">
        <img src="assets/3.jpg" width="400px" height="400px">
        <div class="text-center">
          <p class="d-inline">Лука</p>
          <span> Фронтенд </span>
        </div>
        </div>


      <div class="col-lg text-center">
            <img src="assets/5.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Ђорђе</p>
                <span> Бекенд </span>
            </div>
        </div>
    </div>
</div>
