<div class="container-fluid mb-5">
    <h1 class="text-center">Наш тим "Тачка Зарез"</h1>
    <div id="div" class="row">
        <div class="col-lg text-center">
            <img src="assets/1.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Димитрије</p>
                <span> Фронтенд</span>
            </div>
        </div>
        <div class="col-lg text-center">
            <img src="assets/1.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Димитрије</p>
                <span> Фронтенд</span>
            </div>
        </div>
        <div class="col-lg text-center">
            <img src="assets/1.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Димитрије</p>
                <span> Фронтенд</span>
            </div>
        </div>
        <div class="col-lg text-center">
            <img src="assets/1.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Димитрије</p>
                <span> Фронтенд</span>
            </div>
        </div>
        <div class="col-lg text-center">
            <img src="assets/1.jpg" width="400px" height="400px">
            <div class="text-center">
                <p class="d-inline">Димитрије</p>
                <span> Фронтенд</span>
            </div>
        </div>
    <div>
</div>