@keyframes imageShow {
    from {filter: grayscale(100%);}
    to {filter: grayscale(0%); scale: 1.03;}
}

h1 {
    margin-top: 50px;
}

#div p {
    font-size: xx-large;
}

#div span {
    font-size: x-large;
    color: grey;
}

img {
    filter: grayscale(100%);
    border-radius: 50%;
}

img:hover {
    animation-name: imageShow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}