.bg-white {
    background-color: white !important;
}

body {
    background-color: lightgrey !important;
}

footer {
    background-color: white !important;
}

* {
    font-family: arno-pro, serif;
    font-style: normal;
    font-weight: 400;
}