<div class="container">
  <h1>Добро дошли на сајт тима Тачка ; Зарез!</h1>
  <p>
    Овај сајт је развијен у току такмичења "Има на ћирилици" и се бави пружањем ћириличних ресурса и дискусијом о важности коришћења ћирилице на интернету.
    Верујемо да је очување и промоција ћириличног писма кључно за очување културног идентитета.
    Кроз овај сајт, желимо истражити различите аспекте употребе ћирилице и промовисати њен значај.
  </p>

  <h2>Зашто је коришћење ћирилице на интернету важно?</h2>
  <p>
    Коришћење ћирилице на интернету има значајан утицај на очување језика, културе и наслеђа.
    То олакшава комуникацију наших грађана, очува традицију и чини дигитални простор инклузивнијим.
    Кроз овај сајт, желимо истражити различите аспекте употребе ћирилице и промовисати њен значај.
  </p>

  <h2>Сајт за прикупљање ресурса и дискусију</h2>
  <p>
    Наши циљеви су прикупљање ресурса, чланака и информација о коришћењу ћирилице на интернету.
    Такође, желимо подстаћи дискусију међу посетиоцима сајта о важности очувања ћирилице и дељењу
    искустава у вези са коришћењем ћирилице у дигиталном окружењу.
  </p>

  <p>
    Са надом да ћемо ујединити заједницу и подстаћи поштовање ка према ћириличном писму,
    придружите нам се у овој мисији и делите своје идеје и размишљања на форуму.
  </p>
</div>

