<div class="container-fluid">
    <div class="row">
    <div class="col-sm-6 col-md-7 intro-section">
        <div class="intro-content-wrapper">
        <h1 class="intro-title">Добродошли на наш сајт !</h1>
        <p class="intro-text">аисудх асдуих асдуи седфсдфг џуахсб аоуисздг асдфи асдзхуг асукдј зхгасхујкдгкаусјзхдг асдасд.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-5 form-section">
        <div class="login-wrapper">
        <h1 class="login-title text-center">Регистрација</h1>
        <form action="#!">
            <div class="form-group">
            <label for="username" class="sr-only">Корисничко име</label>
            <input type="username" name="username" id="email" class="form-control" placeholder="Е-маил">
            </div>
            <div class="form-group mb-3">
            <label for="password" class="sr-only">Шифра</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Шифра">
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
            <input name="login" id="login" class="btn login-btn w-100" type="button" value="Региструј се">
            </div>
        </form>           
        <p class="login-wrapper-footer-text">Имате налог? <a routerLink="/login" class="text-reset">Пријавите се</a></p>
        </div>
    </div>
    </div>
</div>